# Defaults
spec:
  destination:
    server: https://kubernetes.default.svc
cluster:
  name: "in-cluster"
  awsRegion: "ap-southeast-2"
  clusterAutoscaler:
    namespace: "kube-system"

# Must be provided
helm:
  releaseName: ""
argocd: 
  namespace: ""
repository:
  url: ""
  appsPath: ""
  targetRevision: ""
dns: 
  fqdn: ""
  externalDNS:
    enabled: false
    zoneID: ""
    aws: 
      serviceAccountName: ""
tls:
  certManager:
    enabled: true
    email: ""
    aws: 
      serviceAccountName: ""
    selfSigned: 
      enabled: true
    letsEncrypt:
      staging:
        enabled: false
        email: ""
        route53:
          zoneID: ""
      production:
        enabled: false
        email: ""
        route53:
          zoneID: ""
secrets:
  externalSecrets:
    enabled: false
    rdsSecretName: ""
    aws:
      secretsManager:
        argocdServiceAccountName:
        telemetryServiceAccountName:
        appServiceAccountName:
        crossplaneServiceAccountName:
        argocdServiceAccountRoleARN:
        telemetryServiceAccountRoleARN:
        appServiceAccountRoleARN:
        crossplaneServiceAccountRoleARN:
telemetry:
  jaeger:
    storage:
      es:
        enabled: false
        url: ""
        credentialsSecretName: ""
      inMemory:
        enabled: true
rds:
  host: ""
crossplane:
  kubernetes:
    enabled: false
    inCluster: false
    connectionSecretName:
    externalSecretName:

privateRepositories:
  # - name: ""
  #   url: ""
  #   externalSecret:
  #     name: ""  

apps: []
  # - name: ""
  #   repoURL: ""
  #   path: ""
  #   targetRevision: ""
